[Unit]
Description=Force modem online
Requires=dbus.service
After=dbus.service
Before=ofono.service

[Service]
Type=simple
ExecStart=/bin/sh /sbin/ofono-hack.sh

[Install]
WantedBy=multi-user.target
