# These and other macros are documented in dhd/droid-hal-device.inc
# For devices with modem, you will need to explicitly set ofono plugins here

%define device @DEVICE@
%define vendor @VENDOR@

%define vendor_pretty @VENDOR_PRETTY@
%define device_pretty @DEVICE_PRETTY@

%define installable_zip 1

%include rpm/dhd/droid-hal-device.inc
