[Unit]
Description=droid-hal-init
Wants=systemd-udev-settle.service
After=local-fs.target systemd-udev-settle.service
Before=basic.target network.target bluetooth.service ofono.service sensord.service
DefaultDependencies=no
Conflicts=shutdown.target actdead.target
# Lets not do Requires= here as that means that this service will restart which leads automatically
# to broken state as android init can be only started once per boot. If something goes wrong
# our best hope is that android init doesn't notice that and that the crashing party fixes itself :)

[Service]
Type=notify
NotifyAccess=all
ExecStart=/bin/sh /usr/bin/droid/droid-hal-startup.sh
ExecStop=/usr/bin/droid/kill-cgroup.sh %c
Restart=always
# Lets make sure we don't block minutes in case of errors.
TimeoutSec=15
StartLimitInterval=60
StartLimitBurst=2

[Install]
WantedBy=basic.target
