[Unit]
Description=droid-hal-init
Wants=systemd-udev-settle.service
After=local-fs.target systemd-udev-settle.service
Before=basic.target network.target start-user-session@USER.service bluetooth.service ofono.service sensord.service
DefaultDependencies=no
Conflicts=shutdown.target actdead.target
Requires=local-fs.target

[Service]
Type=notify
NotifyAccess=all
ExecStart=/bin/sh /usr/bin/droid/droid-hal-startup.sh
ExecStop=/usr/bin/droid/kill-cgroup.sh %c
Restart=always
# Lets make sure we don't block minutes in case of errors.
TimeoutSec=15
StartLimitInterval=60
StartLimitBurst=2

[Install]
WantedBy=basic.target
