[Unit]
Description=droid-wlan-fwreload
After=droid-late-start.service
Before=network.target start-user-session@USER.service bluetooth.service ofono.service sensord.service
Conflicts=shutdown.target actdead.target

[Service]
ExecStart=/bin/sh /usr/bin/droid/droid-wlan-fwreload.sh

[Install]
WantedBy=basic.target

