[Unit]
Description=Activate Bluetooth
After=syslog.target

[Service]
ExecStart=/sbin/bcm4330-bluetooth-activate.sh

[Install]
WantedBy=graphical.target

